body{
    background-color: hsl(221, 39%, 78%);
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   min-height: 100vh;
   font-family: "Outfit", sans-serift;

}

.main_container{
    background-color: white;
    border-radius: 17px;
    align-items: center;
   justify-content: center;
   padding: 15px;
   width: 300px;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img{
    border-radius: 15px;
    width: 300px;
    margin-top: 0px;
}

h1{
    font-family: "Outfit", sans-serift;
    font-style: normal;
}

p{
    font-weight: 200;

}

